aisafetymontreal.org {
	import snippets/Logging
	import snippets/TrafficAnalytics
	import snippets/ActivityPub
	import snippets/NocoDB

	handle {
		reverse_proxy ghost:2368
	}

	encode gzip
	import snippets/SecurityHeaders
}

newsletter.aisafetymontreal.org, www.aisafetymontreal.org {
	import snippets/Logging
	redir https://aisafetymontreal.org{uri} permanent
}
